@charset "UTF-8";




.titulo{
	padding: 30px;
	margin: 10px;
}

form{
	margin: auto 0;
}

.form-container{
	width: 600px;
	margin: auto;
}

/* BUTTON */
.button-container{
	margin: auto 0;
	text-align: center;
	
	padding: 10px;
	
}

.btn-success{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	height: 60px;
	width: 200px;
}


.alert-success{
	width: 60vw;
}

/* TABELA */
table {
  border-collapse: collapse;
}
table tbody tr {
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  text-align: left;
}
td, th {
    text-align: center;
    vertical-align: middle
}

image{
	width: 10px;
}